
<!-- Modal for displaying the error messages -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Nomination</h4>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete this job?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="mySubmit" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
