<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="/resource/css/framework.css" />
    <link type="text/css" rel="stylesheet" href="/resource/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/resource/sweetalert/sweetalert.css" />
    <script type="text/javascript" src="/resource/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="/resource/javascript/framework.js"></script>
    <script type="text/javascript" src="/resource/javascript/form.min.js"></script>
    <script type="text/javascript" src="/resource/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="/resource/javascript/vue.min.js"></script>
    <script type="text/javascript" src="/resource/javascript/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/resource/javascript/main.js"></script>
    <style type="text/css">
        body {
            overflow-x: hidden;
        }

        select {
            height: 40px;
        }

        .fields.search > .field {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="page">
        <header>
            <div class="bigcontainer">
                <div id="logo">
                    Quartz Scheduler
                </div>
                <div class="user">
                    <div class="ui inline labeled icon top right pointing dropdown">

                    </div>
                </div>
            </div>
        </header>
        <!-- the main menu-->
        <div class="ui teal inverted menu">
            <div class="bigcontainer">
                <div class="right menu">
                    <a class="item active" href="/task"><i class="tasks icon"></i>任务</a>
                </div>
            </div>
        </div>


        @RenderBody()

    </div>
    <footer>
        <div id="copyrights">
            <div class="inset">
                <div class="bigcontainer">
                    <div class="fl">
                        <p>
                            &copy; 2017 Quartz Scheduler
                            @*<i class="Github Alternate icon"></i><a href="https://github.com/ouqiang/gocron" target="_blank">
                                    GitHub
                                </a>*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(
            function () {
                $('.ui.dropdown').dropdown();
            }
        );
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>